<?xml version="1.0" encoding="UTF-8"?>
<Document>
	<Framework>


		<!--  Simulation Area                                                      -->
		<dimensions value="2" />
		<dimX value="500" />
		<dimY value="500" />
		<dimZ value="0" />

		<!--  Simulation                                                           -->
		<asynchronousMode value="false" />
		<mobility value="false" />
		<interference value="false" />
		<interferenceIsAdditive value="true" />
		<canReceiveWhileSending value="true" />
		<canReceiveMultiplePacketsInParallel value="true" />
		<edgeType value="centralized_computing:WeightedEdge" />
		<exitOnTerminationInGUI value="false" />
		<initializeConnectionsOnStartup value="false" />
		<refreshRate value="1" />
		<generateNAckMessages value="false" />
		<handleEmptyEventQueue value="true" />
		<javaCmd value="java" />
		<javaVMmaxMem value="500" />

		<!--  Random number generators                                             -->
		<useSameSeedAsInPreviousRun value="false" />
		<useFixedSeed value="false" />
		<fixedSeed value="777" />

		<!--  Logging                                                              -->
		<logFileName value="logfile.txt" />
		<outputToConsole value="true" />
		<logToTimeDirectory value="true" />
		<logConfiguration value="false" />
		<eagerFlush value="false" />

		<!--  GUI                                                                  -->
		<extendedControl value="true" />

		<!--If true, the graph edges are drawn as directed arrows,  otherwise simple lines.-->
		<drawArrows value="true" />
		<zoomStep value="1.2" />
		<wheelZoomStep value="1.05" />
		<minZoomFactor value="0.02" />

		<!--  Models                                                               -->
		<DefaultMessageTransmissionModel value="ConstantTime" />
		<DefaultConnectivityModel value="centralized_computing:StaticRandomConnectivity" />
		<DefaultDistributionModel value="centralized_computing:RandomDisc" />
		<DefaultInterferenceModel value="NoInterference" />
		<DefaultMobilityModel value="NoMobility" />
		<DefaultReliabilityModel value="ReliableDelivery" />
		<DefaultNodeImplementation value="centralized_computing:GraphNode" />
		<showModelsOfAllProjects value="false" />

		<!--  Animation Settings                                                   -->
		<showMessageAnimations value="false" />
		<messageAnimationEnvelopeWidth value="30.0" />
		<messageAnimationEnvelopeHeight value="20.0" />
		<messageAnimationEnvelopeColor value="r=255,g=255,b=0" />

		<!--  Diverse Settings                                                     -->
		<showOptimizationHints value="true" />
		<drawEdges value="true" />
		<drawNodes value="true" />
		<shownEventQueueSize value="10" />
		<outputTextFieldHeight value="200" />
		<arrowLength value="10" />
		<arrowWidth value="2" />
		<defaultRoundNumber value="1" />

	</Framework>
	<Custom>
<MessageTransmission ConstantTime="1"/>
	
<Node defaultSize="3" />
<GeometricNodeCollection rMax="1000000"/>
				</Custom>

<UDG rMax="50" />
</Document>

